.body__container {
	font-size : 16px;
  	font-family: 'Roboto', sans-serif;
	font-weight : 400;
	color : #000000;
}

.chroma .gr{
	color: #727272;
}
.chroma .bl{
	color:#555;
}
.chroma .nt{
	color:#2f6f9f;
}
.chroma .na{
	color:#006ee0;
}
.chroma .rd{
	color:#d73038;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}

main{
	display: block;
}

.section .inner{
	max-width: 100%;
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
}

a{
	text-decoration: none;
}

ul{
	list-style-type: none;
}

div{
	display: block;
}

strong{
	font-weight: bolder;
}

p {
	margin-top: 0;
	margin-bottom: 16px;
}

.btn{
	display: inline-block;
	align-items: center;
	padding: 6px 12px;
	border: 1px solid #d5d5d5;
	border-radius: 4px;
	font-size: 16px;
	font-weight: 400;
	color: #333;
	line-height: 1.5;
	text-align: center;
	text-decoration: none;
	box-sizing: border-box;
	cursor: pointer;
	justify-content: center;
	transition: color 0.5s;
}


.btn--download {
	margin-left: 16px;
	font-weight: 600;
	color: #ffe484;
	border: 1px solid #ffe484;
}

.btn--secondary {
	color: #6c757d;
	border-color: #6c757d;
}

.btn--primary {
	color: #fff;
	border-color: #7952b3;
	background-color: #7952b3;
	margin-right:16px;
}

.btn--outline-primary {
	margin-bottom: 16px;
	padding: 8px 16px;
	font-size: 20px;
	border-radius: 4px;
	color: #0d6efd;
	border-color: #0d6efd;
}

.btn--download:hover, .btn--download:active {
	color: #2a2730;
	background-color: #ffe484;
	border-color: #ffe484;

}

.btn--secondary:hover, .btn--secondary:active {
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d;
}

.btn--primary:hover, .btn--primary:active{
	color: #fff;
	background-color: #61428f;
	border-color: #61428f;
}

.btn--outline-primary:hover, .btn--outline-primary:active{
	color: #fff;
	background-color: #0d6efd;
	border-color: #0d6efd;
}

.btn--copy:hover, .btn--copy:active{
	color: #fff;
	background-color: #0d6efd;
	border-color: #0d6efd;	
}

.greenicon {
	background-color: #198754;
}

.blueicon {
	background-color: #0d6efd;
}

.purpleicon {
	background-color: #7952b3;
}
.redicon {
	background-color: #dc3545;
}


/*header section*/
header .inner {
	height: auto;
}

.section--header {
	background-color: #7952b3;
	padding: 12px 0;
}

.section--header .inner {
	display: flex;
	align-items: center;
	padding: 0 10px;
}


.menu_bar {
	display: flex;
	align-items: center;
	height: 100%;
	justify-content: space-between;
	flex-basis: auto;
	flex-grow: 1;
}

.logo{
	margin-right: 10px;
}

.logo a{
	background:url(../img/logo.svg);
	width: 40px;
	height: 32px;
	display: block;
	text-indent: -9999px;
}

#toggle-btn{
	display: none;
	fill: rgba(255,255,255,0.85);
	width: 32px;
	height: 32px;
    cursor: pointer;
	/*
    position: absolute;
    top: 16px;
    right: 24px;
    text-indent: -9999px;*/
}

.main__menu {
	display: flex;
}


.nav--link{
	display: block;
	color : rgba(255,255,255,0.85);
	padding: 8px;
	transition: color .15s;
}

.nav--img{
	padding: 8px;
	fill : rgba(255,255,255,0.85);
	transition: color .15s;
}

.nav--link:hover , .nav--img:hover {
	color : #fff;
	fill: #fff;
}

.nav--link.active {
	font-weight: 600;
	color :#fff;
}


.image__menu {
	margin-left: auto;
	display: flex;
}


.nav--img svg{
	width: 16px;
	height: 16px;
}


/*마우스 오버 시 텍스트 상자*/
a.tip {
    text-decoration: none

}

a.tip:hover {
    cursor: pointer;
    position: relative;
}

a.tip small {
    display: none;
    margin-left: 8px;
    font-size: 14px;
    color: rgba(255,255,255,0.85);
}

.contour {
	height: 1px;
	color: rgba(255,255,255,.5);
	background-color: currentColor;
	margin: 16px 0;
	border: 0;
    opacity: .25;
}





/*main section*/
.section--main {
	padding: 48px 0;
	margin-bottom: 16px;
	background: linear-gradient(165deg, #f7f5fb 50%, #fff 50%);
}

.section--main .inner{
	padding: 0 16px;
}

.summary_box {
	margin: 0 -12px;
	display: flex;
	flex-direction: row-reverse;
}

.column__left{
	padding: 0 12px;
	width: 58.33%;
}

.column__right{
	padding: 0 12px;
	width: 41.67%;
	flex: 0 0 auto;
}

.summary {
	text-align:left;
}

.summary__title{
	font-size: 64px;
	font-weight: 400;
	line-height: 1;
	margin-bottom: 16px;
}

.summary__desc{
	font-size: 24px;
	font-weight: 300;
	line-height: 1.5;
	margin-bottom: 24px;
}

.summary__btn {
	display: flex;
}

.summary__btn .btn {
	padding: 12.8px 32px;
	height: 57px;
	margin-bottom: 16px;
	font-size: 20px;
	font-weight: 600;
	align-items: center;
}

.version_list {
	color: #6c757d;
}

.link--secondary{
	color: #6c757d;
}

.version_list span{
	padding: 0 4px;
}

.version_list a {
	text-decoration: underline;
}




#ads_board {
	position: static;
	display: block;
	max-width: 330px;
	width: 155px;
	border-radius: 4px;
	background:rgba(0,0,0,0.05);
	padding: 15px 15px 15px 160px;
	margin: 32px 0;
	font-size: 13px;
	line-height: 1.4;
	text-align: left;
	overflow: hidden;

}


.ads-img {
	float: left;
	margin-left: -145px;
}

#ads_board a {
	color: #343a40;
}

.ads-poweredby {
	margin-top: 12px;
	display: block;
	color: #495057;
}



/*descript section*/


.section--desc .inner{
	margin: 0 auto;
	padding: 0 16px;
}

.desc_box{
	display: flex;
	align-items: center;
	margin: 0 -12px 48px -12px;
	padding-bottom: 24px;
}

.desc_icon {
	padding:12px;
	height:32px;
	display: inline-block;
	background-image: linear-gradient(to bottom right, rgba(255,255,255,0.2), rgba(255,255,255,0.01));
	box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 10%);
	border-radius: 12px;
	margin-bottom: 8px;
}

.desc_column {
	padding: 0 12px;
	width: 41.67%;
	flex: auto;
}

.desc_column .summary__title{
	font-size: 48px;
	font-weight: 400;
	margin-bottom: 8px;
}

.desc_column .summary__desc{
	font-size: 20px;
	margin-bottom: 16px;
	font-weight: 400;
}

.desc_column .detail__desc{
	line-height: 1.5;
}

.desc_column h2 a, .desc_column p a{
	text-decoration: underline;
	color: #0d6efd;
}

.desc_column h2 a:hover, .desc_column p a:hover {
	color: #0a58ca;
}

.desc_column .btn{
	height: 48px;
}

.example_column {
	padding: 0 12px 0 48px;
	width: 58.33%;
	/*flex: 0 7 auto;*/
}

.examlple_column img {
	margin-top: 16px;
}

.example_box {
	padding: 16px 24px;
	background-color:#f8f9fa;
	margin-bottom: 16px;
	align-items: center;
}

.example_box pre{
	margin: 10.4px 0;
	font-size: 14px;
	line-height: 1.5;
	font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New";
	overflow: auto;
}

 .example_box pre .sh::before{
	color: #009;
    content: "$ ";
    user-select: none;
}

.clipboard {
	position: relative;
	float:right;
}

.btn--copy {
	position: absolute;
	display: block;
	color: #0d6efd;
	top: 10px;
	right: 10px;
	z-index: 10;
	padding: 4px 8px;
	font-size: 10px;
	background-color: #fff;
	border: 1px solid;
	border-radius: 4px;
}



/*footer section*/
.section--footer {
	background: #f8f9fa;
	padding: 48px 0;
	margin: 48px 0 0 0;
}

.section--footer .inner {
	padding: 48px 12px;
}

.footer_box {
	display: flex;
	justify-content: space-between;
	margin: 0 -12px 0 -12px;
}

.bootstrap_box{
	padding: 0 12px;
	margin-bottom: 16px;
	width: 25%;
}
.bootstrap_box .footer_logo {
	margin-bottom: 8px;
}
.bootstrap_box .footer_logo svg {
	margin-right: 8px;
}

.footer_logo {
	display: inline-flex;
	align-items: center;
}


.bootstrap_box a:hover {
	color: #0d6efd;
	fill: #0d6efd;
}


.bootstrap_box span {
	font-size: 20px;
}

.bootstrap_box li {
	color: #6c757d;
	fill: #6c757d;
	font-size: 14px;
	font-weight: 200;
	line-height: 1.5;
}

.links_box {
	margin-bottom: 16px;
	padding: 0 12px;
}

.links_box h5{
	font-size: 20px;
	margin-bottom: 8px;
}

.footer_box ul, .links_box ul{
	margin-bottom: 16px;
}

.footer_box li, .links_box li{
	margin-bottom: 8px;
}

.links_box a , .bootstrap_box a{
	color: #495057;
	fill: #495057;
}

.links_box li a:hover , .bootstrap_box li a:hover{
	color: #0d6efd;
	text-decoration: underline;
}